@tailwind base;
@tailwind components;
@tailwind utilities;

/* Full height layout */
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Hide scrollbar for all elements while maintaining scroll functionality */
* {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

*::-webkit-scrollbar {
  display: none;  /* Chrome, Safari and Opera */
}